body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ead2f4; /* Fondo lila claro */
    color: #513a5c; /* Texto morado oscuro */
}

.header-bg {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fes.best-wallpaper.net%2FPurple-tulips-flowers-light-pink-background_wallpapers.html&psig=AOvVaw3k-Gcn-Ne-OZsamw9Xfbs8&ust=1700781387137000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCPD-xsXe2IIDFQAAAAAdAAAAABAE); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #513a5c; /* Texto morado oscuro */
}

header p {
    color: #7b5b8f; /* Texto morado claro */
}

.note-section {
    background-color: #8b5e88; /* Fondo morado oscuro para la sección de notas */
    padding: 40px;
    text-align: center;
    border: 2px solid #513a5c; /* Borde morado oscuro */
}

.note-section h2 {
    color: #ead2f4; /* Texto blanco para la sección de notas */
}

footer {
    padding: 10px;
    text-align: center;
}
