body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5ebf9; /* Fondo lila claro */
    color: #513a5c; /* Texto morado oscuro */
}

header {
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #513a5c; /* Texto morado oscuro */
}

header p {
    color: #7b5b8f; /* Texto morado claro */
}

.note-section {
    background-color: #e0c3e4; /* Fondo lila claro para la sección de notas */
    padding: 20px;
    text-align: center;
}

.note-section h2 {
    color: #513a5c; /* Texto morado oscuro */
}

footer {
    padding: 10px;
    text-align: center;
}
